<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dailuemodifierfinal</key>
  <string>dailuemodifierfinal.glif</string>
  <key>dailuemodifierw</key>
  <string>dailuemodifierw.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sfthyphen</key>
  <string>sfthyphen.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni1980</key>
  <string>uni1980.glif</string>
  <key>uni1981</key>
  <string>uni1981.glif</string>
  <key>uni1982</key>
  <string>uni1982.glif</string>
  <key>uni1983</key>
  <string>uni1983.glif</string>
  <key>uni1984</key>
  <string>uni1984.glif</string>
  <key>uni1985</key>
  <string>uni1985.glif</string>
  <key>uni1986</key>
  <string>uni1986.glif</string>
  <key>uni1987</key>
  <string>uni1987.glif</string>
  <key>uni1988</key>
  <string>uni1988.glif</string>
  <key>uni1989</key>
  <string>uni1989.glif</string>
  <key>uni198A</key>
  <string>uni198A_.glif</string>
  <key>uni198B</key>
  <string>uni198B_.glif</string>
  <key>uni198C</key>
  <string>uni198C_.glif</string>
  <key>uni198D</key>
  <string>uni198D_.glif</string>
  <key>uni198E</key>
  <string>uni198E_.glif</string>
  <key>uni198F</key>
  <string>uni198F_.glif</string>
  <key>uni1990</key>
  <string>uni1990.glif</string>
  <key>uni1991</key>
  <string>uni1991.glif</string>
  <key>uni1992</key>
  <string>uni1992.glif</string>
  <key>uni1993</key>
  <string>uni1993.glif</string>
  <key>uni1994</key>
  <string>uni1994.glif</string>
  <key>uni1995</key>
  <string>uni1995.glif</string>
  <key>uni1996</key>
  <string>uni1996.glif</string>
  <key>uni1997</key>
  <string>uni1997.glif</string>
  <key>uni1998</key>
  <string>uni1998.glif</string>
  <key>uni1999</key>
  <string>uni1999.glif</string>
  <key>uni199A</key>
  <string>uni199A_.glif</string>
  <key>uni199B</key>
  <string>uni199B_.glif</string>
  <key>uni199C</key>
  <string>uni199C_.glif</string>
  <key>uni199D</key>
  <string>uni199D_.glif</string>
  <key>uni199E</key>
  <string>uni199E_.glif</string>
  <key>uni199F</key>
  <string>uni199F_.glif</string>
  <key>uni19A0</key>
  <string>uni19A_0.glif</string>
  <key>uni19A1</key>
  <string>uni19A_1.glif</string>
  <key>uni19A2</key>
  <string>uni19A_2.glif</string>
  <key>uni19A3</key>
  <string>uni19A_3.glif</string>
  <key>uni19A4</key>
  <string>uni19A_4.glif</string>
  <key>uni19A5</key>
  <string>uni19A_5.glif</string>
  <key>uni19A6</key>
  <string>uni19A_6.glif</string>
  <key>uni19A7</key>
  <string>uni19A_7.glif</string>
  <key>uni19A8</key>
  <string>uni19A_8.glif</string>
  <key>uni19A9</key>
  <string>uni19A_9.glif</string>
  <key>uni19AA</key>
  <string>uni19A_A_.glif</string>
  <key>uni19AB</key>
  <string>uni19A_B_.glif</string>
  <key>uni19B0</key>
  <string>uni19B_0.glif</string>
  <key>uni19B1</key>
  <string>uni19B_1.glif</string>
  <key>uni19B2</key>
  <string>uni19B_2.glif</string>
  <key>uni19B3</key>
  <string>uni19B_3.glif</string>
  <key>uni19B4</key>
  <string>uni19B_4.glif</string>
  <key>uni19B5</key>
  <string>uni19B_5.glif</string>
  <key>uni19B6</key>
  <string>uni19B_6.glif</string>
  <key>uni19B7</key>
  <string>uni19B_7.glif</string>
  <key>uni19B8</key>
  <string>uni19B_8.glif</string>
  <key>uni19B9</key>
  <string>uni19B_9.glif</string>
  <key>uni19BA</key>
  <string>uni19B_A_.glif</string>
  <key>uni19BB</key>
  <string>uni19B_B_.glif</string>
  <key>uni19BC</key>
  <string>uni19B_C_.glif</string>
  <key>uni19BD</key>
  <string>uni19B_D_.glif</string>
  <key>uni19BE</key>
  <string>uni19B_E_.glif</string>
  <key>uni19BF</key>
  <string>uni19B_F_.glif</string>
  <key>uni19C0</key>
  <string>uni19C_0.glif</string>
  <key>uni19C1</key>
  <string>uni19C_1.glif</string>
  <key>uni19C2</key>
  <string>uni19C_2.glif</string>
  <key>uni19C3</key>
  <string>uni19C_3.glif</string>
  <key>uni19C4</key>
  <string>uni19C_4.glif</string>
  <key>uni19C5</key>
  <string>uni19C_5.glif</string>
  <key>uni19C6</key>
  <string>uni19C_6.glif</string>
  <key>uni19C7</key>
  <string>uni19C_7.glif</string>
  <key>uni19C8</key>
  <string>uni19C_8.glif</string>
  <key>uni19C9</key>
  <string>uni19C_9.glif</string>
  <key>uni19D0</key>
  <string>uni19D_0.glif</string>
  <key>uni19D1</key>
  <string>uni19D_1.glif</string>
  <key>uni19D2</key>
  <string>uni19D_2.glif</string>
  <key>uni19D3</key>
  <string>uni19D_3.glif</string>
  <key>uni19D4</key>
  <string>uni19D_4.glif</string>
  <key>uni19D5</key>
  <string>uni19D_5.glif</string>
  <key>uni19D6</key>
  <string>uni19D_6.glif</string>
  <key>uni19D7</key>
  <string>uni19D_7.glif</string>
  <key>uni19D8</key>
  <string>uni19D_8.glif</string>
  <key>uni19D9</key>
  <string>uni19D_9.glif</string>
  <key>uni19DA</key>
  <string>uni19D_A_.glif</string>
  <key>uni19DE</key>
  <string>uni19D_E_.glif</string>
  <key>uni19DF</key>
  <string>uni19D_F_.glif</string>
  <key>uni2060</key>
  <string>uni2060.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uni3000</key>
  <string>uni3000.glif</string>
  <key>uni3001</key>
  <string>uni3001.glif</string>
  <key>uni3002</key>
  <string>uni3002.glif</string>
  <key>uni3008</key>
  <string>uni3008.glif</string>
  <key>uni3009</key>
  <string>uni3009.glif</string>
  <key>uni300A</key>
  <string>uni300A_.glif</string>
  <key>uni300B</key>
  <string>uni300B_.glif</string>
  <key>uniFF01</key>
  <string>uniF_F_01.glif</string>
  <key>uniFF08</key>
  <string>uniF_F_08.glif</string>
  <key>uniFF09</key>
  <string>uniF_F_09.glif</string>
  <key>uniFF0C</key>
  <string>uniF_F_0C_.glif</string>
  <key>uniFF0E</key>
  <string>uniF_F_0E_.glif</string>
  <key>uniFF1A</key>
  <string>uniF_F_1A_.glif</string>
  <key>uniFF1B</key>
  <string>uniF_F_1B_.glif</string>
  <key>uniFF1F</key>
  <string>uniF_F_1F_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
</dict>
</plist>
