<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni198A</key>
  <dict>
    <key>uni1986</key>
    <integer>260</integer>
    <key>uni198C</key>
    <integer>260</integer>
    <key>uni1991</key>
    <integer>260</integer>
    <key>uni199A</key>
    <integer>260</integer>
    <key>uni199D</key>
    <integer>260</integer>
    <key>uni19A4</key>
    <integer>190</integer>
    <key>uni19A5</key>
    <integer>100</integer>
    <key>uni19A9</key>
    <integer>260</integer>
    <key>uni19B2</key>
    <integer>260</integer>
    <key>uni19B7</key>
    <integer>260</integer>
    <key>uni19B9</key>
    <integer>260</integer>
    <key>uni19BF</key>
    <integer>260</integer>
    <key>uni19C0</key>
    <integer>260</integer>
  </dict>
  <key>uni1994</key>
  <dict>
    <key>uni198C</key>
    <integer>260</integer>
    <key>uni1991</key>
    <integer>260</integer>
    <key>uni199A</key>
    <integer>260</integer>
    <key>uni199D</key>
    <integer>260</integer>
    <key>uni19A4</key>
    <integer>190</integer>
    <key>uni19A5</key>
    <integer>100</integer>
    <key>uni19A9</key>
    <integer>260</integer>
    <key>uni19B2</key>
    <integer>260</integer>
    <key>uni19B7</key>
    <integer>260</integer>
    <key>uni19B9</key>
    <integer>260</integer>
    <key>uni19BF</key>
    <integer>260</integer>
    <key>uni19C0</key>
    <integer>260</integer>
  </dict>
  <key>uni19B4</key>
  <dict>
    <key>uni1983</key>
    <integer>200</integer>
    <key>uni1987</key>
    <integer>200</integer>
    <key>uni198B</key>
    <integer>200</integer>
    <key>uni198C</key>
    <integer>200</integer>
    <key>uni1993</key>
    <integer>200</integer>
    <key>uni1999</key>
    <integer>200</integer>
    <key>uni19A1</key>
    <integer>300</integer>
    <key>uni19A4</key>
    <integer>300</integer>
    <key>uni19A7</key>
    <integer>220</integer>
    <key>uni19A8</key>
    <integer>200</integer>
    <key>uni19A9</key>
    <integer>200</integer>
    <key>uni19B3</key>
    <integer>240</integer>
    <key>uni19C3</key>
    <integer>240</integer>
    <key>uni19C4</key>
    <integer>180</integer>
    <key>uni19C6</key>
    <integer>320</integer>
  </dict>
  <key>uni19BE</key>
  <dict>
    <key>uni1986</key>
    <integer>260</integer>
    <key>uni198C</key>
    <integer>260</integer>
    <key>uni1991</key>
    <integer>260</integer>
    <key>uni199A</key>
    <integer>260</integer>
    <key>uni199D</key>
    <integer>260</integer>
    <key>uni19A4</key>
    <integer>190</integer>
    <key>uni19A5</key>
    <integer>100</integer>
    <key>uni19A9</key>
    <integer>260</integer>
    <key>uni19B2</key>
    <integer>260</integer>
    <key>uni19B7</key>
    <integer>260</integer>
    <key>uni19B9</key>
    <integer>260</integer>
    <key>uni19BF</key>
    <integer>260</integer>
    <key>uni19C0</key>
    <integer>260</integer>
  </dict>
  <key>uni19DE</key>
  <dict>
    <key>uni1986</key>
    <integer>260</integer>
    <key>uni198C</key>
    <integer>260</integer>
    <key>uni1991</key>
    <integer>260</integer>
    <key>uni199A</key>
    <integer>260</integer>
    <key>uni199D</key>
    <integer>260</integer>
    <key>uni19A4</key>
    <integer>190</integer>
    <key>uni19A5</key>
    <integer>100</integer>
    <key>uni19A9</key>
    <integer>260</integer>
    <key>uni19B2</key>
    <integer>260</integer>
    <key>uni19B7</key>
    <integer>260</integer>
    <key>uni19B9</key>
    <integer>260</integer>
    <key>uni19BF</key>
    <integer>260</integer>
    <key>uni19C0</key>
    <integer>260</integer>
  </dict>
  <key>uni19DF</key>
  <dict>
    <key>uni1986</key>
    <integer>260</integer>
    <key>uni198C</key>
    <integer>260</integer>
    <key>uni1991</key>
    <integer>260</integer>
    <key>uni199A</key>
    <integer>260</integer>
    <key>uni199D</key>
    <integer>260</integer>
    <key>uni19A4</key>
    <integer>190</integer>
    <key>uni19A5</key>
    <integer>100</integer>
    <key>uni19A9</key>
    <integer>260</integer>
    <key>uni19B2</key>
    <integer>260</integer>
    <key>uni19B7</key>
    <integer>260</integer>
    <key>uni19B9</key>
    <integer>260</integer>
    <key>uni19BF</key>
    <integer>260</integer>
    <key>uni19C0</key>
    <integer>260</integer>
  </dict>
</dict>
</plist>
